<template>
	<div>
		<Jcrop src="/uploads/images/first-cover.jpg" @update="sel = $event.sel" :rect="[10,10,100,100]" :options="options" />
		<div>Dynamically updated coordinates:</div>
		<tt>{{ sel.x }}, {{ sel.y }}, {{ sel.w }}, {{ sel.h }}</tt>
	</div>
</template>

<script>
import { Jcrop } from 'vue-jcrop'
export default {
	name: "ImgCrop",
	props: ["current", 'aspectRatio', 'minSize', 'maxSize', 'area'],
	components: { Jcrop },
	data: () => ({
    options: { },
    sel: { }a
  }),
	mounted () {
	},
	methods: {
		setCrop (cords) {
			this.image['cords'] = cords;
			console.log(this.cords);
		},
		selectImage () {
			moxman.browse({
				view: 'thumbs',
				oninsert (args) {
					this.img['path'].set('src', '/uploads' + args.focusedFile.path);
				}
			});
		}
	}
}
</script>

<style lang="scss">
@import "~jcrop/build/css/jcrop.scss";
.cropper {
  // border: 2px solid limegreen;
  // img {
  //   width: 100%;
  //   height: auto;
  // }
}
</style>