<template>
	<div class="cropper">
		<div id="cords">Cords: {{Object.keys(image).length > 0 ? image.cords.w + " " +  image.cords.h: 'fdf'}}</div>
		<img ref="image" src="/uploads/images/first-cover.jpg">
		<div class="preview">
		</div>
	</div>

</template>

<script>
import Jcrop from '../../plugins/jcrop/jquery.Jcrop.min.js'
export default {
	name: "ImgCrop",
	props:["current", 'aspectRatio', 'minSize', 'maxSize', 'area'],
	data: () => ({
		cropper: null,
		image: {}
	}),
	mounted () {
		this.initCropper();
	},
	methods: {
		initCropper () {
			let cropper;
			$(this.$refs.image).Jcrop({
				aspectRatio:this.aspectRatio,
				minSize:this.minSize,
				maxSize:["100%", "auto"],
				setSelect:this.area,
				bgColor: '#7524B4',
				bgOpacity:1,
				onSelect: this.setCrop
			}, function() {
				cropper = this;
			});
			this.cropper = cropper;
		},
		setCrop(cords) {
			this.image['cords'] = cords;
			console.log(this.cords);
		},
		selectImage () {
			moxman.browse({
				view: 'thumbs',
				oninsert (args) {
					this.img['path'].set('src', '/uploads' + args.focusedFile.path);
				}
			});
		}
	}
}
</script>

<style lang="scss">
@import "../../plugins/jcrop/jquery.Jcrop.min.css";
.cropper {
	border: 2px solid limegreen;
	width: 100%;
  img {
		width: 100%;
    height: auto;
  }
}
</style>