<template>
    <div class="row videoChannel__row no-gutters">
        <div class="col-sm-12 col-lg-5 order-2 order-lg-1">
            <div class="row videoChannel__row__items videoChannel__row__items--small no-gutters">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6" v-for="(video, key) in videos" :key="key">
                    <article
                            class="videoChannel__row__items__item videoChannel__row__items__item--small"
                            @click="changeVideo(video)">
                        <div class="videoChannel__row__items__item--small__image tv-imgLiquid">
                            <img :src="'https://img.youtube.com/vi/'+video.link+'/mqdefault.jpg'"
                                 class="fluid image" alt="">
                        </div>
                        <header class="videoChannel__row__items__item__info videoChannel__row__items__item--small__info"
                                :class="'cl--'+video.color">
                            <h3>{{video.name}}</h3>
                        </header>
                        <button class="videoChannel__row__items__item--small__playbutton"><i class="sa-play"></i>
                        </button>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-7 order-1 order-lg-2">
            <div class="row no-gutters">
                <div class="col">
                    <article class="videoChannel__row__items__item videoChannel__row__items__item--big" :class="'bg--'+activeVideo.color">
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="videoChannel__row__items__item--big__video">
                                    <div :data-type="activeVideo.type" :data-video-id="activeVideo.link"
                                         class="activeVideo"
                                         v-if="activeVideo"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <header class=" videoChannel__row__items__item videoChannel__row__items__item__info videoChannel__row__items__item--big__info">
                                    <h3 class="mb-1" v-show="activeVideo" v-if="activeVideo.name">
                                        {{activeVideo.name}}</h3>
                                    <p v-show="activeVideo"
                                       v-if="activeVideo.description && $mq.resize && $mq.above($mv.sm)">
                                        {{activeVideo.description}}</p>
                                </header>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
import plyr from 'plyr/dist/plyr';

export default {
  name: 'VideoChannel',
  props: ['videos'],
  data() {
    return {
      activeVideo: this.videos[0],
      inst: null
    };
  },
  mounted() {
    this.inst = plyr.setup('.activeVideo');
    $('.tv-imgLiquid').imgLiquid();
  },
  methods: {
    changeVideo(video) {
      this.activeVideo = false;
      this.inst[0].source({
        sources: [
          {
            src: video.link,
            type: video.type
          }
        ]
      });
      this.activeVideo = video;
      this.inst[0].on('ready', () => {
        this.inst[0].play();
        console.log('yes');
      });
    }
  }
};
</script>
<style lang="scss" type="text/scss">
@import '../../../sass/_variables';

$plyr-color-main: $orange;
@import '~plyr/src/scss/plyr';
.plyr__controls {
  visibility: hidden;
}

.plyr--playing {
  .plyr__controls {
    visibility: visible;
  }
}
</style>
