<template>
    <div id="videomodal" uk-modal="center: true">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" id="closeVideoModal" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Video</h2>
            </div>
            <div class="uk-modal-body">
                <div class="uk-margin uk-grid-small" uk-grid>
                    <div class="uk-width-3-4@s">
                        <input class="uk-input uk-form-width-large" type="text" placeholder="Video Link"
                               v-model="video.link">
                    </div>
                    <div class="uk-width-1-4@s">
                        <select class="uk-select" v-model="video.type">
                            <option value="https://www.youtube.com/embed/">Youtube</option>
                            <option value="https://player.vimeo.com/video/">Vimeo</option>
                        </select>
                    </div>
                </div>
                <div class="uk-margin" v-if="video.link">
                    <iframe :src="video.type + video.link" frameborder="0" allowfullscreen
                            class="md__editor__video"></iframe>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-primary" type="button" @click="videoModal">Save</button>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'MediumVideo',
        data () {
            return {
                video: {
                    elem: null,
                    link: null,
                    type: 'https://www.youtube.com/embed/'
                },
            }
        },
        methods: {
            videoModal () {
                const video = '<div class="md__editor__video" style="height:500px; max-width:' + this.width + ';" data-resizable data-resizableheight="true">' +
                    '<iframe style="position: relative; height: 100%; width: 100%;"' +
                    'src="' + this.video.type + this.video.link + '" ' +
                    'frameborder="0" allowfullscreen></iframe>' +
                    '</div><p data-placeholder="Type your text"></p>';

                $('#videoPlaceholder').replaceWith(video);
                this.video = {
                    elem: null,
                    link: null,
                    type: 'https://www.youtube.com/embed/',
                };
                $('#closeVideoModal').trigger('click');
            },
        }
    }
</script>
<style lang="scss" type="text/scss">
    &__video {
        position: relative;
        transition: all 0.1ms;
        .resize-handle {
            position: absolute;
            right: -22px;
            bottom: -33px;
            font-size: 48px;
            cursor: nw-resize;
            color: red;
            transform: rotate(-45deg);
        }
    }
</style>