<template>
    
</template>

<script type="text/babel">
    export default {
        name: 'ArticleLang',
        props: ['locales'],
        data () {
            return {

            }
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>