<template>
    <div class="row">
        <div class="col-12 coming-soon centered-text">
            <h3>We are under construction and almost ready!</h3>
        </div>
    </div>

</template>

<script type="text/babel">
    export default {
        name: 'ComingSoon'
    }
</script>
