<template>
    <img v-lazy="image" class="img-lazy">
</template>

<script type="text/babel">
    export default {
        name: 'Imglazy',
        props: ['image']
    }
</script>

<style lang="scss" type="text/scss">
    .img-lazy {
        margin: 0 auto;
    }
</style>
