<template>
    <div>
        <div class="row masonry" v-masonry transition-duration="0.3s" item-selector=".masonry-article-item">
            <div class="col-md-4 masonry-article-item" v-masonry-tile v-for="(item, index) in data">
                <div class="masonry-article-item-inner">
                    <div class="masonry-article-item-image">
                        <img v-lazy="item.img" :alt="item.title" class="responsive ef-tilt">
                    </div>
                    <div class="masonry-article-item-data">
                        <h3>{{item.title}}</h3>
                        <a href="#" class="btn btn-simple brand-tx-color-2 brand-bg-color-1">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-12 centered-text">
                <a href="#" class="btn btn-more brand-tx-color-1">Еще</a>
            </div>
        </div>
    </div>
    </template>
    <script type="text/babel">
        import Vue from 'vue'
        import VueMasonryPlugin from 'vue-masonry';
        Vue.use(VueMasonryPlugin)
        export default {
            props: ['data'],
            created () {
                this.$Lazyload.$on('loaded', this.loaded)
            },
            methods: {
                loaded () {
                    Vue.redrawVueMasonry();
                }
            },
            mounted () {
                $('.ef-tilt').tilt(
                    {
                        scale: 1.3,
                        glare: true
                    }
                );
            }
        }
    </script>
    <style lang="scss" type="text/scss">
        @import "../../sass/_variables";

        .masonry-article-item {
            padding: 10px;
            .masonry-article-item-inner {
                transition: all 0.5s;
                -webkit-box-shadow: 0 1px 3px 0 #4D545D;
                box-shadow: 0 1px 3px 0 #4D545D;
                .masonry-article-item-image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 250px;
                    overflow: hidden;
                }
                .masonry-article-item-data {
                    padding: 10px;

                }
            }
        }
    </style>