<template>
    <div id="modal-center " class="uk-modal-container popup" ref="popup" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <slot></slot>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Popup',
        mounted() {
            UIkit.modal(this.$refs.popup).show();
        }
    }
</script>

<style type="text/scss" lang="scss">
    .popup{
        z-index: 9999 !important;
        .uk-modal-body {
            background: rgba(255,255,255,0.9);
        }
    }
</style>
