<template>
    <section class="row videos">
        <div class="col-md-12 videos__block videos__block--big">
            <article class="videos__block__video videos__block__video--big">
                <div :data-type="activeVideo.type" :data-video-id="activeVideo.link" class="activeVideo"
                     v-if="activeVideo"></div>
                <header class="videos__block__video__title videos__block__video__title--big">
                    <h3 v-show="activeVideo" v-if="activeVideo.name">{{activeVideo.name}}</h3>
                    <p v-show="activeVideo" v-if="activeVideo.description && $mq.resize && $mq.above($mv.sm)">{{activeVideo.description}}</p>
                </header>
            </article>
        </div>
        <div class="col-md-12 videos__block videos__block--small">
            <div class="videos__block__swiper">
                <swiper :options="swiperOptions">
                    <swiper-slide v-for="(item, key) in videos" :key="key">
                        <article class="videos__block__swiper__video" @click="changeVideo(item)">
                            <figure class="videos__block__swiper__video__image">
                                <img :src="'https://img.youtube.com/vi/'+item.link+'/mqdefault.jpg'" class="responsive">
                                <div class="videos__block__swiper__video__image__play"><i class="i-play"></i></div>
                            </figure>
                            <header class="videos__block__swiper__video__data">
                                <h6 v-if="item.name">{{item.name}}</h6>
                            </header>
                        </article>
                    </swiper-slide>
                </swiper>
                <div class="swiperButton swiperButton--prev"><i class="i-angle-left"></i></div>
                <div class="swiperButton swiperButton--next"><i class="i-angle-right"></i></div>
                <div class="swiperPagination"></div>
            </div>
        </div>
    </section>
</template>

<script type="text/babel">
    const plyr = require('plyr/dist/plyr');
    export default {
        name: 'VideoChannel',
        props: ['videos'],
        data () {
            return {
                activeVideo: this.videos[0],
                inst: null,
                swiperOptions: {
                    autoplay: false,
                    loop: false,
                    slidesPerView: 4,
                    spaceBetween: 10,
                    paginationType: 'bullets',
                    pagination: '.swiperPagination',
                    nextButton: '.swiperButton--next',
                    prevButton: '.swiperButton--prev',
                    breakpoints: {
                        320: {
                            slidesPerView: 1,
                        },
                        480: {
                            slidesPerView: 1,
                        },
                        1024: {
                            slidesPerView: 2,
                        }
                    }
                }
            }
        },
        mounted () {
            this.inst = plyr.setup('.activeVideo')
        },
        methods: {
            changeVideo (video) {
                this.activeVideo = false;
                this.inst[0].source({
                    sources: [{
                        src: video.link,
                        type: video.type
                    }]
                });
                this.inst[0].on('ready', () => {
                    this.inst[0].play();
                    this.activeVideo = video
                })
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
    @import "../../sass/_variables";
    $plyr-color-main: $brand-1;
    .plyr__controls {
        visibility: hidden;
    }

    .plyr--playing {
        .plyr__controls {
            visibility: visible;
        }
    }
</style>
