<template>
    <div :class="className">
        <slot></slot>
    </div>
</template>
<script type="text/babel">
    import jQuery from 'jquery';
    import slick from 'slick-carousel';
    export default {
        name: 'Slick',
        props: {
            options: {
                default: null
            },
            className: {
                required: true,
                default: 'slick'
            },
        },
        mounted() {
            const elem = jQuery(`.${this.className}`);
            elem.slick(this.options);
            $(elem).find('.slick-imgLiquid').imgLiquid();
        }
    }
</script>

<style type="text/css">
    @import "~slick-carousel/slick/slick.css";
</style>