@font-face {
  font-family: 'GothamPro-Black';
  src: url('GothamPro-Black.woff') format('woff'),
       url('GothamPro-Black.ttf') format('truetype'),
       url('GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

