<template>
    <swiper :options="options">
        <slot></slot>
    </swiper>
</template>
<script type="text/babel">
    import {swiper} from 'vue-awesome-swiper'
    export default {
        name:'Swiper',
        props: {
            options: {
                default:null
            },
            self: {
              default: 'swiperTop'
            },
            thumbs:{
                default: false
            }
        },
        components:{swiper},
        mounted () {
            if(this.thumbs) {
                const swiperTop = this.$refs[this.swiperTop].swiper
                const swiperThumbs = this.$refs[this.thumbs].swiper
                swiperTop.params.control = swiperThumbs
            }
        }
    }
</script>