<template>
    <div :id="article.id" v-if="article">
        <div class="uk-card uk-card-default uk-card-body">
            <h5 class="head-font">{{article.name}}</h5>
            <!-- <div class="uk-inline">
                <img :src="'/uploads' + article.image" v-if="article.image">
            </div> -->
            <div class="uk-margin-small"><i class="dj-paperclip"></i>{{article.page.name}}</div>
            <div v-if="userrole != 'Editor'" class="uk-inline">
                <span :class="{'uk-text-success': fakeViews == 0}"><i class="dj-eye"></i><span>&nbsp;{{article.views}}</span></span> &nbsp;&nbsp;
                <span :class="{'uk-text-success': fakeViews > 0}"><i class="dj-eyedropper"></i>&nbsp;
                    <input type="text" class="uk-form-width-xsmall" v-model="fakeViews" v-if="fakev">
                    <span @click="fakev = true" v-else>{{fakeViews}}</span>
                    <a href="" class="uk-text-success" uk-icon="icon: check" v-if="fakev"
                       @click.prevent="saveFakeViews"></a>
                </span>
            </div>
            <div class="uk-card-footer">
                <div class="uk-inline">

                    <a v-if="userrole != 'Editor'" href=""
                       :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': article.status, 'uk-button-danger': !article.status, 'uk-icon-small':true}"
                       @click.prevent="setStatus">
                        <i class="dj-power-off"></i>
                    </a>

                    <a href="#" class="uk-icon-button uk-button-primary" uk-icon="icon:cog;"></a>
                    <div uk-dropdown="pos: top-justify; animation: uk-animation-slide-top-small;">
                        <div class="uk-inline uk-margin-small">
                            <a :href="'/admin/articles/' + article.id + '/edit'"
                               class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"></a>
                            <a :href="'/article/' + article.url"
                               class="uk-icon-button uk-button-secondary uk-icon-small"
                               uk-icon="icon: link" target="_blank"></a>
                            <a v-if="userrole != 'Editor'" href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash"
                               @click.prevent="deleteArticle"></a>
                        </div>
                    </div>
                    <a v-if="userrole != 'Editor'" href=""
                       :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': article.interesting, 'uk-button-danger': !article.interesting, 'uk-icon-small':true}"
                       @click.prevent="setInteresting">
                        <i class="dj-fire"></i>
                    </a>
                    <!--<a href=""-->
                       <!--:class="{'uk-icon-button': true, 'uk-custom-icon': true , 'uk-button-success': article.person, 'uk-button-danger': !article.person, 'uk-icon-small':true}"-->
                       <!--@click.prevent="setPerson">-->
                        <!--<i class="dj-user"></i>-->
                    <!--</a>-->
                </div>
                <div class="uk-margin-small">
                </div>
            </div>
            <div class="uk-inline uk-margin-small">
            </div>
            <div v-if="userrole != 'Editor'" class="uk-inline uk-margin-small">
                <a href="" uk-slidenav-previous @click.prevent="sort(-1)"></a>
                <a href="" uk-slidenav-next @click.prevent="sort(+1)"></a>
            </div>
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Article',
        props: ['item','userrole'],
        data () {
            return {
                article: null,
                spinner: false,
                position: null,
                fakev: false,
                fakeViews: false
            }
        },
        created () {
            this.article = JSON.parse(this.item);
            this.position = this.article.pos;
            this.fakeViews = this.article.fakeviews;
        },
        methods: {
            deleteArticle () {
                this.spinner = true;
                const elem = $('#' + this.article.id);
                UIkit.modal.confirm('Are you sure?').then(() => {
                    axios.delete('/admin/articles/' + this.article.id).then(r => {
                        elem.addClass('uk-animation-scale-down uk-animation-reverse');
                        setTimeout(() => {
                            this.spinner = false;
                            elem.remove();
                        }, 500);
                    })
                }, () => {
                });
            },
            setPerson () {
                this.spinner = true;
                axios.get('/admin/articles/setperson/' + this.article.id).then(r => {
                    this.article.person = !this.article.person;
                    this.spinner = false;
                })
            },
            setStatus () {
                this.spinner = true;
                axios.get('/admin/articles/setstatus/' + this.article.id).then(r => {
                    this.article.status = !this.article.status;
                    this.spinner = false;
                })
            },
            setPopup () {
                this.spinner = true;
                axios.get('/admin/articles/popup/' + this.article.id).then(r => {
                    this.article.popup = !this.article.popup;
                    this.spinner = false;
                    location.reload();
                })
            },
            setInteresting () {
                this.spinner = true;
                axios.get('/admin/articles/setinteresting/' + this.article.id).then(r => {
                    this.article.interesting = !this.article.interesting;
                    this.spinner = false;
                })
            },
            saveFakeViews (e) {
                this.fakev = false;
                if (this.article.fakeviews !== this.fakeViews) {
                    this.spinner = true;
                    axios.post('/admin/articles/fakeviews/' + this.article.id, {fakeviews: this.fakeViews}).then(r => {
                        this.spinner = false;
                    })
                }
            },
            sort (pos) {
                this.spinner = true;
                axios.post('/admin/articles/sort/' + this.article.id, {newpos: pos, pos: this.article.pos}).then(r => {
                    this.spinner = false;
                    this.position = this.position + pos;
                    location.reload();
                })
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>