<template>
    <div>
        <div class="uk-margin">
            <div class="uk-form-label uk-animation-slide-bottom">Translation for:</div>
            <v-select
                    :debounce="500"
                    :on-search="getOptions"
                    :options="options"
                    placeholder="Search article"
                    label="name"
                    :value.sync="parent"
                    :on-change="setResult"
            >
            </v-select>
            <input type="hidden" name="parent_id" :value="parent.id" v-if="parent && Object.keys(loc).length > 0">
            <input type="hidden" name="parent_id" :value="0" v-else>
        </div>
        <div class="uk-margin" v-if="Object.keys(loc).length > 0">
            <div class="uk-form-label uk-animation-slide-bottom">Locale</div>
            <select class="uk-select uk-form-large" name="locale_id" v-model="loc">
                <option v-for="(locale, key) in loc" :value="locale.id" :key="key">
                    {{locale.name}}
                </option>
            </select>
        </div>
        <div class="uk-alert-danger" v-else uk-alert>
            <p class="uk-padding-small">All possible translations exist.</p>
            <input type="hidden" name="locale_id" :value="JSON.parse(locales)[0]['id']">
        </div>
    </div>

</template>

<script type="text/babel">
    import vSelect from "vue-select"
    export default {
        name: 'TranslateFor',
        components: {vSelect},
        props: {
            locales: {},
            oldparent: {default: false},
            current: {default: false}
        },
        data() {
            return {
                loc: {},
                parent: null,
                options: []
            }
        },
        created () {
            this.parent = this.oldparent ? this.oldparent : null;
            this.loc = JSON.parse(this.locales);
        },
        methods: {
            getOptions(search, loading) {
                loading(true);
                axios.post('/admin/articles/searchparent', {
                    searchfield: search,
                    id: this.current ? this.current : 0
                }).then(r => {
                    this.options = r.data.articles;
                    loading(false)
                })
            },
            setResult (value) {
                if (value) {
                    this.parent = value;
                    this.setLocales(value);
                } else {
                    this.parent = null;
                    this.loc = JSON.parse(this.locales);
                }
            },
            setLocales (value) {
                const inst = this;
                inst.loc = JSON.parse(inst.locales).filter(locale => {
                    return locale.id != value.locale_id;
                });
                if (value.id != this.oldparent.id) {
                    value.children.map(child => {
                        inst.loc = inst.loc.filter(locale => {
                            return locale.id != child.locale_id;
                        });
                    });
                }
            },
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>