<template>
    <div class="ui modal">
        <div class="header">
            <h3>Hello, world!</h3>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'SemanticModal',
        mounted () {
            $('.ui.modal').modal('show');
        }
    }
</script>

<style scoped>
    @import "/semantic/components/modal.min.css";
</style>