<template>
    <div class="md__image__actions uk-animation-slide-top-small removable" contenteditable="false">
        <button class="uk-button uk-button-primary uk-button-small" type="button" @click="pos('left')">
            <i class="dj-align-left"></i>
        </button>
        <button class="uk-button uk-button-primary uk-button-small" type="button" @click="pos('none')">
            <i class="dj-align-center"></i>
        </button>
        <button class="uk-button uk-button-primary uk-button-small " type="button" @click="pos('right')">
            <i class="dj-align-right"></i>
        </button>
        <button class="uk-button uk-button-primary uk-button-small " type="button" @click="$emit('showsettings')">
            <i class="dj-cog"></i>
        </button>
    </div>
</template>

<script type="text/babel">
    export default {
        data () {
            return {
                image: this.$parent
            }
        },
        methods: {
            pos (pos) {
                if (pos === 'none') {
                    this.image.styles.margin[1] = 0;
                    this.image.styles.margin[3] = 0;
                }
                this.image.styles.float = pos;
            },
        }
    }
</script>

<style lang="scss" type="text/scss">
    .md__image__actions {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            margin-right: 1px;
        }
    }
</style>