<template>
    <div class="uk-clearfix">
        <static-toolbar
                v-on:initResizable="initResizable"
                v-on:initSortable="initSortable">
        </static-toolbar>
        <div class="md__editor">
            <floating-toolbar
                    ref="floatingtoolbar"
                    v-on:addImage="addImage"
                    v-on:addRow="addRow"
                    v-on:addVideo="addVideo"
                    v-on:addHr="addHr"
            ></floating-toolbar>
            <!--EDITOR-->
            <div class="md__editor__area" ref="editor" v-model="result" @keyup="caretPosition">
                <slot></slot>
            </div>
            <textarea style="display: none;" ref="textarea" :name="name">{{result}}</textarea>
            <!--EDITOR-->
        </div>
    </div>

</template>

<script type="text/babel">

    /*EDITOR*/
    import MediumEditor from  'medium-editor'
    /*END EDITOR*/
    /*MIXINS*/
    import {helpers} from './Mixins/helpers'
    import {caretHelper} from './Mixins/caret'
    import {inserts} from './Mixins/inserts'
    import {mdsortable} from './Mixins/sortable'
    import {mdresizable} from './Mixins/resizable'
    /*END MIXINS*/

    /*COMPONENTS*/
    import FloatingToolbar from './Partials/FloatingToolbar'
    import StaticToolbar from './Partials/StaticToolbar'
    /*END COMPONENTS*/

    export default {
        name: 'Medium',
        components: {FloatingToolbar, StaticToolbar},
        mixins: [inserts, mdsortable, mdresizable, helpers, caretHelper],
        props: {
            width: {
                default: '960'
            },
            name: {
                default: 'content'
            }
        },
        data () {
            return {
                editor: null,
                par: 'erere',
                options: {
                    toolbar: {
                        buttons: [
                            {
                                name: 'bold',
                                contentDefault: '<i class="dj-bold"></i>'
                            }, {
                                name: 'italic',
                                contentDefault: '<i class="dj-italic"></i>'
                            },
                            {
                                name: 'underline',
                                contentDefault: '<i class="dj-underline"></i>'
                            },
                            {
                                name: 'justifyLeft',
                                contentDefault: '<i class="dj-align-left"></i>'
                            },
                            {
                                name: 'justifyCenter',
                                contentDefault: '<i class="dj-align-center"></i>'
                            },
                            {
                                name: 'justifyRight',
                                contentDefault: '<i class="dj-align-right"></i>'
                            },
                            {
                                name: 'justifyFull',
                                contentDefault: '<i class="dj-align-justify"></i>'
                            },
                            {
                                name: 'anchor',
                                contentDefault: '<i class="dj-link"></i>'
                            },
                            {
                                name: 'indent',
                                contentDefault: '<i class="dj-indent"></i>'
                            },
                            {
                                name: 'outdent',
                                contentDefault: '<i class="dj-outdent"></i>'
                            },
                            {
                                name: 'h2',
                                action: 'append-h2',
                                aria: 'header type 2',
                                tagNames: ['h2'],
                                contentDefault: '<b>H2</b>',
                                classList: ['head-font', 'dsd']
                            },
                            'h3',
                            'h4',
                            'h5',
                            'h6',
                            'image',
                            {
                                name: 'orderedlist',
                                contentDefault: '<i class="dj-list-ol"></i>'
                            },
                            {
                                name: 'unorderedlist',
                                contentDefault: '<i class="dj-list-ul"></i>'
                            },
                            {
                                name: 'quote',
                                contentDefault: '<i class="dj-quote-left"></i>'
                            },
                            {
                                name: 'removeFormat',
                                contentDefault: '<i class="dj-ban"></i>'
                            },
                        ],
                    },
                    paste: {
                        cleanPastedHTML: true,
                        cleanTags: ['meta','div'],
                    },
                    imageDragging: false
                },
                result: "",
            }
        },
        created () {
            this.initEditor();
        },
        mounted () {
            const inst = this;
            this.initEditor();
            this.initRemovableItem();
            this.setResult();
            $(this.$refs.editor).find('figure').each((ev, el) => {
                this.createImage(false, el, el);
            });
            $(document).on('click', '.delete_editor_elem', function () {
                inst.removeEditorItem($(this).parent());
            });
            $(document).on('click', '.md__editor__area > p', () => {
                inst.caretPosition();
            });
            $(this.$refs.editor).on("DOMNodeInserted", () => {
                this.initRemovableItem();
            });
            $(document).on("updateContent", '.md__image', () => {
                this.setResult();
            });
        },
        methods: {
            initEditor () {
                this.editor = new MediumEditor(this.$refs.editor, this.options);
                this.editor.subscribe('editableInput', (e, editable) => {
                    this.setResult();
                });
            },
            removeEditorItem (elem) {
                elem.toggleClass("uk-animation-scale-down uk-animation-slide-left uk-animation-slide-right uk-animation-reverse");
                setTimeout(() => {
                    elem.remove();
                    this.setResult();
                }, 500);
            },
            setResult () {
                this.result = this.editor.getContent();
            },
        }
    }
</script>
<style lang="scss" type="text/scss">
    @import "~medium-editor/dist/css/medium-editor.css";
    @import "~medium-editor/dist/css/themes/beagle.css";

    .uk-sortable-drag, .sortable-placeholder {
        background: #02baf2 !important;
        color: #FFFFFF;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .resize-handle {
        position: absolute;
        right: -22px;
        bottom: -33px;
        font-size: 48px;
        cursor: nw-resize;
        color: red;
        transform: rotate(-45deg);
    }

    .md__editor {
        position: relative;
        * {
            transition: all 0.3s;
        }
        &__area {
            min-height: 10px;
            outline: none;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 0 10px;
            font-size: 19px;
            p:empty:not(:focus)::before {
                content: attr(data-placeholder);
            }
            * {
                outline: none;
            }
            p {
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }
        &__selected {
            border: 1px solid #0e6dcd;
            position: relative;
            min-height: 30px;
            .delete_editor_elem {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background: RGBA(232, 0, 7, 0.7);
                z-index: 3;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: #FFFFFF;
                }
            }

        }
    }
</style>