<template>
    <ul class="pgwSlider">
        <li v-for="(slide, key) in slides">
            <a :href="slide.link ? slide.link : 'javascript:void(0)'" target="_blank" :key="key" :data-description="slide.description">
                <img :src="'/uploads' + slide.image">
                <span v-if="slide.name">{{slide.name}}</span>
            </a>
        </li>
    </ul>
</template>

<script type="text/babel">
    import pgwSlider from 'pgwslider/pgwslider.js'

    export default {
        name: 'PgwSlider',
        props: {
            data: {
                default: null
            },
            options: {
                default: null
            }
        },
        data() {
            return {
                slides: null,
            }
        },
        created() {
            this.slides = JSON.parse(this.data);
        },
        mounted() {
            $('.pgwSlider').pgwSlider();
        }
    }
</script>
<style type="text/css">
    @import "~pgwslider/pgwslider.css";
</style>