/*PADDINGS*/
.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.padding {
  padding: 10px !important;
}

.padding-left {
  padding-left: 10px !important;
}

.padding-right {
  padding-right: 10px !important;
}

.padding-top {
  padding-top: 10px !important;
}

.padding-bottom {
  padding-bottom: 10px !important;
}

.padding-small {
  padding: 5px;
}

.padding-small-left {
  padding-left: 5px !important;
}

.padding-small-right {
  padding-right: 5px !important;
}

.padding-small-top {
  padding-top: 5px !important;
}

.padding-small-bottom {
  padding-bottom: 5px !important;
}

.padding-medium {
  padding: 15px;
}

.padding-medium-left {
  padding-left: 15px !important;
}

.padding-medium-right {
  padding-right: 15px !important;
}

.padding-medium-top {
  padding-top: 15px !important;
}

.padding-medium-bottom {
  padding-bottom: 15px !important;
}

.padding-large {
  padding: 20px;
}

.padding-large-left {
  padding-left: 20px !important;
}

.padding-large-right {
  padding-right: 20px !important;
}

.padding-large-top {
  padding-top: 20px !important;
}

.padding-large-bottom {
  padding-bottom: 20px !important;
}

/*END PADDINGS*/
/*MARGINS*/
.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.margin {
  margin: 10px !important;
}

.margin-left {
  margin-left: 10px !important;
}

.margin-right {
  margin-right: 10px !important;
}

.margin-top {
  margin-top: 10px !important;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

.margin-small {
  margin: 5px;
}

.margin-small-left {
  margin-left: 5px !important;
}

.margin-small-right {
  margin-right: 5px !important;
}

.margin-small-top {
  margin-top: 5px !important;
}

.margin-small-bottom {
  margin-bottom: 5px !important;
}

.margin-medium {
  margin: 15px;
}

.margin-medium-left {
  margin-left: 15px !important;
}

.margin-medium-right {
  margin-right: 15px !important;
}

.margin-medium-top {
  margin-top: 15px !important;
}

.margin-medium-bottom {
  margin-bottom: 15px !important;
}

.margin-large {
  margin: 20px;
}

.margin-large-left {
  margin-left: 20px !important;
}

.margin-large-right {
  margin-right: 20px !important;
}

.margin-large-top {
  margin-top: 20px !important;
}

.margin-large-bottom {
  margin-bottom: 20px !important;
}

.margin-auto {
  margin: 0 auto !important;
}

/*END MARGINS*/
.border {
  border: 1px solid red;
}

.no-border {
  border: none !important;
}

.light-bg {
  background: $block-light-bg;
}

.gradient-bg {
  @include gradient-bg;
}

.tx-center {
  text-align: center;
}

.hidden-xxs {
  @include bs-mq(xxs) {
    display: none !important;
  }
}

.hidden-xs {
  @include bs-mq(xs) {
    display: none !important;
  }
}

.hidden-sm {
  @include bs-mq(sm) {
    display: none !important;
  }
}

.hidden-md {
  @include bs-mq(md) {
    display: none !important;
  }
}

.hidden-lg {
  @include bs-mq(lg) {
    display: none !important;
  }
}

.hidden-xl {
  @include bs-mq(xl) {
    display: none !important;
  }
}

a.link_reset {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.fluid {
  width: 100%;
}

.up-text {
  text-transform: uppercase;
}
.low-text {
  text-transform: lowercase;
}
.cap-text {
  text-transform: capitalize;
}