@mixin gradient-bg {
  background: #ffe53b linear-gradient(90deg, #ffe53b 0%, #ff2525 100%);
}
@mixin box-shadow {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

@mixin main-font($weight: normal) {
  font-family: 'Ultima Pro', sans-serif !important;
  font-weight: $weight !important;
}

@mixin secondary-font($weight: normal) {
  font-family: 'Lato', sans-serif !important;
  font-weight: $weight !important;
}

$breakpoints-bs: (
  'xxs': 321px,
  'xs': 575px,
  'sm': 769px,
  'md': 991px,
  'lg': 1199,
  'xl': 1200px
);
@mixin bs-mq($width, $type: max) {
  @if map_has_key($breakpoints-bs, $width) {
    $width: map_get($breakpoints-bs, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($from),
    to($to)
  );
  background: -moz-linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin linear-gradient-to-bottom($top-color, $bottom-color) {
  background: -moz-linear-gradient(
    to bottom,
    $top-color,
    $bottom-color
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    to bottom,
    $top-color,
    $bottom-color
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    $top-color,
    $bottom-color
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($top-color)}', endColorstr='#{ie-hex-str($bottom-color)}',GradientType=0 ); /* IE6-9 */
}

@mixin bg-with-opacity($color, $opacity) {
  background: rgba($color, $opacity);
}

@mixin shadow {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

@mixin filter($filter-type, $filter-amount) {
  -webkit-filter: $filter-type + unquote('(#{$filter-amount})');
  -moz-filter: $filter-type + unquote('(#{$filter-amount})');
  -ms-filter: $filter-type + unquote('(#{$filter-amount})');
  -o-filter: $filter-type + unquote('(#{$filter-amount})');
  filter: $filter-type + unquote('(#{$filter-amount})');
}
