/*COLORS*/
$body-bg: #F6F6F6;
$blue:    #009BDE;
$green:   #00AF00;
$yellow:  #FFE53B;
$orange:  #F5811F;
$red:     #FF2525;
$purple:  #aa34c6;
$tiffany: #00C4B1;
$white:   #FFFFFF;
$black:   #000000;
$text-color: #777777;


$block-light-bg: $white;
