@import "/plugins/semantic/components/site.min.css";
@import "/plugins/semantic/components/item.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import "fonts.scss";
@import "mixins";
@import "variables";
@import "animations";
@import "helpers";

body ,html{
  background: $body-bg;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}
#app {
  height: 100%;
  position: relative;
}
h1, h2, h3, h4, h5, h6, h6 {
  @include main-font;
}

.row-content {
  max-width: 1600px;
  margin: 0 auto;
}

.nav-menu {
  li {
    a {
      @include main-font(300);
    }
  }
}

.nav-menu-social {
  display: inline-block;
  li {
    a {
      font-size: 20px !important;
      padding-right: 5px !important;
      padding-left: 5px !important
    }
  }
}

.mainmenu {
  z-index: 9999 !important;
  @include shadow;
}

.categories {
  background: $block-light-bg;
  @include box-shadow;
  min-height: 40px;
  .categories_link {
    @include main-font;
    text-align: center;
    font-size: 1.3rem;
    color: $text-color;
    line-height: 40px;
    padding: 20px 0 !important;
    transition: all .5s !important;
    border-bottom: 3px solid;
    &:hover {
      //background: $green !important;
      color: $white !important;
    }
  }
}

.mainSliderSlickThumbs {
  .slick-slide {
    height: 250px !important;
  }
  .slick-current {
    article {
      position: relative;
      transition: all 1s;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba($black, .3);
        z-index: 1 !important;
      }
    }
  }
}

.mainSliderSlickThumbsContainer {
  position: relative;
  .mainsliderbutton {
    position: absolute;
    left: 50%;
    &--dowm {
      bottom: 0;
    }
  }
}

.mainslider {
  &__item {
    overflow: hidden;
    position: relative;
    transition: all 1s;
    &__image {
      width: 100%;
      height: 100%;
      transition: all .5s;
    }
    &__overlay {
      @include main-font(300);
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 2;
      padding: 20px;
      color: $white;
      transition: 1s;
      @include bs-mq(md) {
        padding: 10px;
        p {
          display: none;
        }
      }
    }
    &:hover {
      .mainslider__item__image {
        transform: scale(1.2) rotate(5deg);
      }
    }

    &--big {
      height: 500px;
      @include bs-mq(xs) {
        height: 250px;
      }
      @include bs-mq(sm) {
        height: 300px;
      }
    }
    &--small {
      height: 250px;
      @include bs-mq(sm) {
        height: 200px;
      }
      cursor: pointer;
    }
  }
}

.subscribe {
  &__text {
    font-size: 32px;
    color: $white;
    @include bs-mq(sm) {
      text-align: center;
    }
  }
  &__input {
    @include bs-mq(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form {
      input {
        height: 45px;
        width: 100%;
        outline: none;
        border: none;
        text-align: center;
        @include main-font();
        font-size: 1.5rem;
      }
      @include bs-mq(sm) {
        margin-bottom: 10px;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    @include bs-mq(sm) {
      justify-content: center;
    }
    a {
      display: inline-block;
      outline: none;
      background: none;
      border: none;
      font-size: 22px;
      color: $white;
      transition: all .5s;
      &:hover {
        transform: scale(1.05);
        span.rarr {

        }
      }

    }
    @include bs-mq(sm) {
      text-align: center;
      padding: 10px;
      a {
        border: 1px solid $white;
        display: block;
        padding: 10px;
        span.rarr {
          display: none;
        }
      }
    }
  }
}

.videoChannel {
  &__row {
    padding: 25px 10px 10px 10px;
    &__items {
      height: 100%;
      &__item {
        padding: 0;
        position: relative;
        overflow: hidden;
        &__info {
          h3 {
            color: $white;
            @include main-font(300);
          }
        }
        img {
          width: 100%;
        }
        &--small {
          height: 100% !important;
          width: 100%;
          display: flex;
          align-items: center;
          min-height: 200px;
          transition: all 1s;
          cursor: pointer;
          &:hover {
            .videoChannel__row__items__item--small__playbutton {
              opacity: 1;
            }
          }
          &__playbutton {
            transition: all .5s;
            position: absolute;
            z-index: 5;
            top: 40%;
            left: 38%;
            outline: none;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 4px solid $white;
            background: $orange;
            color: $white;
            font-size: 2rem;
            text-align: center;
            padding: 7px 0 0 6px;
            opacity: 0;
            cursor: pointer;
            &:active, &:hover {
              background: $blue;
            }
          }
          &__image {
            height: 100%;
            width: 100%;
          }
          &__info {
            display: flex;
            align-items: center;
            position: absolute;
            top: 7.5%;
            left: 7.5%;
            margin: 0 auto;
            z-index: 2;
            height: 85%;
            width: 85%;
            padding: 20px;
            h3 {
              text-align: center;
            }
          }
        }
        &--big {
          overflow: inherit;
          &__video {

          }
          &__info {
            //position: absolute;
            bottom: 0;
            z-index: 3;
            padding: 20px;
            min-height: 70px;
            color: $white;
          }
        }
        &__overlay {
          position: absolute;
          bottom: 0;
          height: 50%;
          width: 100%;
        }
      }
    }
  }
}

.lastNews {
  &__row {
    padding: 25px 10px 10px 10px;
    &__item {
      height: 480px;
      width:300px;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &__image {
        width: 100%;
        height: 100%;
        transition: all .5s;
      }
      &:hover {
        .lastNews__row__item__image {
          transform: scale(1.2) rotate(5deg);
        }
      }
      img {
        transition: all .5s;
        margin: 0 auto;
        height: 100%;
        width: 100%;
      }
      &__overlay {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        z-index: 2;
        padding: 10px;
      }
      &__info {
        color: $white;
        z-index: 3;
        position: absolute;
        bottom: 0;
        padding: 20px;
        width:100%;
        h3 {
          margin: 10px 0;
          text-shadow: 0 0 20px #000000;
        }
        p {
          text-shadow: 0 0 20px #000000;
          font-weight: bolder;
        }
        &__category {
          border: 1px solid $white;
          display: inline-block !important;
          padding: 2.5px 10px;
          color: $white;
          @include main-font(300);
          &:hover, click, active {
            color: $body-bg;
          }
        }
        &__dateviews {
          @include secondary-font();
          &__date {
            padding-right: 5px;
          }
          &__views {
            padding-left: 5px;
            i {
              font-size: 16px;
              position: relative;
              top: 3px;
            }
          }
        }
      }
    }
  }
}

.newsFeed {
  &__row {
    padding: 25px 10px 10px 10px;
    &__item {
      position: relative;
      margin: 0 auto;
      cursor: pointer;
      overflow: hidden;
      width: 100%;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      &__image {
        width: 100%;
        transition: all .5s;
      }
      &:hover {
        .newsFeed__row__item__image {
          transform: scale(1.2) rotate(5deg);
        }
      }
      &__overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        z-index: 2;
      }
      &__info {
        padding: 20px;
        position: absolute;
        bottom: 0;
        z-index: 3;
        color: $white;
        h3 {
          @include main-font(300);
        }
        &__dateviews {
          span {
            @include secondary-font();
          }
          &__views {
            i {
              font-size: 16px;
              position: relative;
              top: 2px;
            }
          }
        }
      }
    }
  }
}

.articleRead__content {
  min-height: 300px;
  p {
    font-size: 16px;
  }
}

.articleRead__cover {
  height: 500px;
  position: relative;
  &__image {
    width: 100%;
    height: 100%;
  }
  &__overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba($black, .3);
  }
  &__info {
    position: absolute;
    top: 50%;
    width: 70%;
    left: 15%;
    margin: 0 auto;
    color: $white;
    text-align: center;
    z-index: 3;
    &__category {
      color: $white;
      text-align: center;
      border: 1px solid;
      display: inline-block;
      padding: 8px 10px;
      @include main-font(300);
    }
    h1 {
      text-align: center;
      @include main-font(300);
    }
    &__dateviews {
      span {
        @include secondary-font();
      }
      &__views {
        i {
          font-size: 16px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
.video__content{
  &__item {
    &__video{
      border-left: 5px solid $orange;
      height: 100%;
      @include box-shadow;
    }
  }
}
.pageContent {

}

.pageArticles {
  &__item {
    overflow: hidden;
    @include box-shadow;
    @include bs-mq(xxl) {
      width: 400px;
      height: 400px;
    }
    margin-bottom: 30px;
    &__image{
      width:100%;
      margin: 0 auto;
      border-left: 5px solid;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &__info {
      padding: 20px;
      min-height: 300px;
      @include bs-mq(xs) {
        height: 40%;
      }
      position: relative;
      overflow: hidden;
      &__readmore {
        border: 1px solid;
        display: block;
        padding: 5px 30px;
        font-size: 18px;
        position: absolute;
        right: 10px;
        bottom: 30px;
        color: $white;
        transition: all .5s;
        &:hover {
          color: $white;
          border-radius: 20px 0 20px 0;
        }
      }
    }
  }
}

.footer {
  &__col {
  }
  &__row {
    padding: 25px 10px 10px 10px;
    color: $white;
    &__header {
      margin-bottom: 20px;
      @include bs-mq(sm) {
        text-align: center;
      }
      h3 {
        font-size: 2rem;
      }
    }
    .about {
      margin-bottom: 20px;
      @include bs-mq(sm) {
        text-align: center;
      }
      &__social {
        &__link {
          display: inline-block;
          border: 1px solid $white;
          padding: 8px 10px;
          color: $white;
          font-size: 14px;
          transition: all .5s;
          &:hover {
            background: $white;
            &.about__social__link--fb {
              color: $blue;
            }
            &.about__social__link--yt {
              color: $red;
            }
          }
        }
      }
    }
    .mostRead {
      margin-bottom: 20px;
      &__items {
        &__item {
          &__info {
            display: flex;
            align-items: center;
            h3 {
              @include main-font(300);
            }
          }
        }
      }
    }
    .footerLinks {
      margin-bottom: 20px;
      &__row {
        &__links {
          &__link {
            display: block;
            color: $white;
            font-size: 1.2rem;
            @include main-font(300);
            line-height: 30px;
            @include bs-mq(sm) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.blockheader {
  position: relative;

  &--whiteblock {
    .blockheader__name {
      color: $orange;
      //@include bs-mq(xs) {
      //  left: 12%;
      //  top: -40px;
      //}
    }
  }
  &--gradientblock {
    .blockheader__name {
      > span {
        background-image: url('../img/txBG.png');
        background-position-y: 36px;
        //background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        @include bs-mq(sm) {
          background-position-y: 32px;
        }
      }
      @include bs-mq(xs) {
        left: 12%;
      }
    }
  }
  &__name {
    font-size: 3rem;
    display: block;
    padding: 10px 0;
    position: absolute;
    top: -30px;
    @include main-font();
    @include bs-mq(sm) {
      font-size: 2rem;
    }
  }
}

.tv {
  display: inline-block;
  background: $black;
  @include main-font(300);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 18px;
  position: relative;
  text-align: center;
  bottom: 50px;
  color: $white;
  span {
    color: $white;
    position: relative;
    top: 35px;
    font-size: 38px;
  }
  @include bs-mq(sm) {
    width: 50px;
    height: 50px;
    bottom: 30px;
    span {
      font-size: 24px;
      top: 20px;
    }
  }
}

.blockgo {
  padding-top: 0;
  &__arrow {
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.5s;
    font-size: 72px;
    &--left {
      float: left;
      &:hover {
        transform: translateX(-10px);
      }
    }
    &--right {
      float: right;
      &:hover {
        transform: translateX(10px);
      }
    }
  }
  &--white {
    .blockgo__arrow {
      color: $orange;
      &:hover {
        color: $blue;
      }
    }
  }
  &--gradient {
    .blockgo__arrow {
      color: $white;
      &:hover {
        color: $blue;
      }
    }
  }
}

.gr {
  &--red {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($red, 0.95));
  }
  &--green {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($green, 0.95));
  }
  &--blue {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($blue, 0.95));
  }
  &--orange {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($orange, 0.95));
  }
  &--yellow {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($yellow, 0.95));
  }
  &--tiffany {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($tiffany, 0.95));
  }
  &--purple {
    @include linear-gradient-to-bottom(rgba(0, 0, 0, 0), rgba($purple, 0.95));
  }
}

.cl {
  &--red {
    @include bg-with-opacity($red, 0.8);
  }
  &--green {
    @include bg-with-opacity($green, 0.8);
  }
  &--blue {
    @include bg-with-opacity($blue, 0.8);
  }
  &--orange {
    @include bg-with-opacity($orange, 0.8);
  }
  &--yellow {
    @include bg-with-opacity($yellow, 0.8);
  }
  &__white {
    @include bg-with-opacity($white, 0.8);
  }
  &--tiffany {
    @include bg-with-opacity($tiffany, 0.8);
  }
  &--purple {
    @include bg-with-opacity($purple, 0.8);
  }
}

.bg {
  &--red {
    background: $red
  }
  &--green {
    background: $green;
  }
  &--blue {
    background: $blue;
  }
  &--orange {
    background: $orange;
  }
  &--yellow {
    background: $yellow;
  }
  &--white {
    background: $white;
  }
  &--tiffany {
    background: $tiffany
  }
  &--purple {
    background: $purple;
  }
}
.tx {
  &--red {
    color: $red
  }
  &--green {
    color: $green;
  }
  &--blue {
    color: $blue;
  }
  &--orange {
    color: $orange;
  }
  &--yellow {
    color: $yellow;
  }
  &--white {
    color: $white;
  }
  &--tiffany {
    color: $tiffany
  }
  &--purple {
    color: $purple;
  }
}

.hv {
  &--red {
    &:hover {
      background: $red !important;
    }
  }
  &--green {
    &:hover {
      background: $green !important;
    }
  }
  &--blue {
    &:hover {
      background: $blue !important;
    }
  }
  &--orange {
    &:hover {
      background: $orange !important;
    }
  }
  &--yellow {
    &:hover {
      background: $yellow !important;
    }
  }
  &__white {
    &:hover {
      background: $white !important;
    }
  }
  &--tiffany {
    &:hover {
      background: $tiffany !important;
    }
  }
  &--purple {
    &:hover {
      background: $purple !important;
    }
  }
}

.br {
  &--red {
    border-color: $red !important;
  }
  &--green {
    border-color: $green !important;
  }
  &--blue {
    border-color: $blue !important;
  }
  &--orange {
    border-color: $orange !important;
  }
  &--yellow {
    border-color: $yellow !important;
  }
  &__white {
    border-color: $white !important;
  }
  &--tiffany {
    border-color: $tiffany !important;
  }
  &--purple {
    border-color: $purple !important;
  }
}

.sa-pagination {
  @include main-font(300);
  a.item {
    font-size: 1.3rem;
    display: inline-block;
    padding: 5px 2px;
    color: $orange;
    transition: all .5s;
    &.active{
      border-bottom: 1px solid $orange;
    }
    &:hover{
      border-bottom: 1px solid $orange;
    }
  }
}

.events {
  display: flex;
  flex-wrap: nowrap;
  @include bs-mq('sm') {
    flex-wrap: wrap;
  }
  justify-content: center;

  &__item {
    flex: 1 0 calc(100% / 7);
    transition: all 1s;
    cursor: pointer;
    background: $white;
    @include bs-mq('xs') {
      flex: 1 0 calc(100% / 1);
    }
    @include bs-mq('sm') {
      flex: 0 0 calc(100% / 2);
    }
    &__day {
      text-align: center;
      margin-bottom: 10px;
      padding: 5px;
      border-left: 1px solid $white;
    }
    &__venue {
      padding: 10px;
      border: 1px solid #CCCCCC;
      margin-bottom: 10px;
      @include shadow;
      &__name {
        text-align: center;
        padding: 1px;
        background: $black;
        color: $white;
        font-size: 1rem;
      }
      &__event {
        list-style: none;
        margin: 0;
        padding: 2px;

        &__time {
          background: $blue;
          font-size: .9rem;
          color: $white;
          padding: 2px;
        }
        &__name {
          display: inline;
        }
      }
    }

  }
}