@import "_variables";

.brand-bg-color-1 {
  background-color: $brand-1;
}

.brand-bg-color-2 {
  background-color: $brand-2;
}

.brand-bg-color-3 {
  background-color: $brand-3;
}

.brand-bg-color-4 {
  background-color: $brand-4;
}

.brand-bg-color-5 {
  background-color: $brand-5;
}

.brand-bg-color {
  background-color: $text-color;
}

.brand-tx-color-1 {
  color: $brand-1;
}

.brand-tx-color-2 {
  color: $brand-2;
}

.brand-tx-color-3 {
  color: $brand-3;
}

.brand-tx-color-4 {
  color: $brand-4;
}

.brand-tx-color-5 {
   color: $brand-5;
 }
.brand-tx-color {
  color: $text-color;
}
