@charset "UTF-8";

@font-face {
  font-family: "iconfont";
  src:url("../fonts/icon/iconfont.eot");
  src:url("../fonts/icon/iconfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icon/iconfont.woff") format("woff"),
  url("../fonts/icon/iconfont.ttf") format("truetype"),
  url("../fonts/icon/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "iconfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "iconfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-angle-down:before {
  content: "\e000";
}
.i-angle-left:before {
  content: "\e001";
}
.i-angle-right:before {
  content: "\e002";
}
.i-angle-up:before {
  content: "\e003";
}
.i-clock:before {
  content: "\e004";
}
.i-eye:before {
  content: "\e005";
}
.i-attach:before {
  content: "\e006";
}
.i-user:before {
  content: "\e007";
}
.i-link:before {
  content: "\e008";
}
.i-play:before {
  content: "\e009";
}
.i-pause:before {
  content: "\e00a";
}
.i-mouse:before {
  content: "\e00b";
}
.i-calendar:before {
  content: "\e00c";
}