@import '~uikit/dist/css/uikit';
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import 'mixins';
body,
html,
.wrapper {
  height: 100%;
}

body {
  position: relative;
  background: #ffffff;
}

.bg-white {
  //background: #FFFFFF;
}

.bg-grey {
  background: #eeeeee;
}

.border {
  border: 1px solid red;
}

.pr-download {
  background: #18c6ff;
  height: 50px;
  width: 100px;
  display: inline-block;
  line-height: 50px;
  color: #ffffff;
  transition: all 1s;
  border-radius: 30px 0 30px 0;
  &:hover {
    text-decoration: none;
    color: #ffffff;
    background: #be30a0;
  }
}
.program-block {
  padding-top: 30px;
  .grid-item {
    padding-left: 10px;
  }
}
.programItem {
  .pr-head {
    background: #ffd406;
    text-align: left;
    color: #000000;
    font-size: 16px;
    text-align: center;
  }

  .programPlace {
    //border-left: 5px solid #ffd406 !important;
    background: #000000;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
    border: 1px solid #000000;
    border-bottom: none;
    margin-bottom: 0;
  }
  .program {
    font-size: 12px;
    border: 1px solid #000000;
    border-top: none;
    margin-top: 0;
    padding: 5px;
    ul {
      font-size: 12px;
      padding-left: 0;
      margin-left: 0;
    }
    li {
      padding-bottom: 1px;
      padding-left: 2px;
      color: #1b1b1b;
      a {
        color: #ab2b8e;
      }
    }
    .type {
      background: #be30a0;
      font-size: 10px;
    }
    .time {
      background: #18c6ff;
      font-size: 10px;
    }
    .time,
    .type {
      display: inline-block;
      padding: 1px 2px;
      color: #ffffff;
      transform: skewX(20deg);
      span {
        display: block;
        transform: skewX(-20deg);
      }
    }
  }
}

.main-header {
  min-height: 70px;
  .burger {
    display: flex;
    align-items: center;
    a {
      margin-left: 20px;
      display: block;
      font-size: 26px;
    }
  }
  .date {
    background: #ffd406;
    padding: 0 20px;
    margin-left: 20px;
    h1 {
      text-align: center;
      color: #1b1b1b;
      font-family: 'Exo 2', sans-serif;
      line-height: 70px;
    }
  }
  .eu-logo {
    text-align: right;
    padding: 5px 20px 0 0;
    img {
      width: 80px;
    }
  }
}

@media (min-width: 480px) {
  .date {
    transform: skewX(30deg);
    h1 {
      transform: skewX(-30deg);
    }
  }
}

.main-image {
  background: #000000;
  width: 100%;
  img {
    width: 100%;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.page-content {
}

#menu {
  // background: url('/img/imagine/menubg.png');
  // background-repeat: no-repeat;
  // background-size: cover;
}

#page {
  //background: url('/img/imagine/pagebg.svg');
}

.main-menu {
  &-item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px !important;
    transition: all 0.5s;
    background: #ffd406;
    &:hover {
      background-image: url('/img/imagine/stars.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      @include filter(grayscale, 80%);
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: #ffffff;
      a {
        line-height: 180px;
        height: 100%;
        width: 100%;
        display: block;
        color: #1b1b1b;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: 2px;
        transition: all 0.5s;
        text-transform: uppercase;
      }
      &:hover {
        transition: all 0.5s;
        background: none;
        border: 1px solid #ffffff;
        a {
          color: #ffffff;
          text-decoration: none;
          transform: scale(1.1);
        }
      }
    }
  }
}

.page-title {
  h1 {
    font-family: 'Exo 2', sans-serif;
    color: #1b1b1b;
    padding: 10px;
    font-size: 2rem;
  }
}

.page-content {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.4rem;
  color: #1b1b1b;
}

.footer-block {
  height: 100px;
  background: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
}

.topnav {
  overflow: hidden;
  text-align: center;
  transition: all 1s;
  a {
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    padding: 15px 15px;
    color: #1b1b1b !important;
    transition: all 1s;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    &.active,
    &:hover {
      text-decoration: none;
      background: #ffd406;
      color: #1b1b1b !important;
    }
  }
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.film-heading {
  background: #ffd406;
}
.film {
  justify-content: center;
  &__poster {
  }
  &__info {
    p {
      display: block;
      border-bottom: 1px solid #bfeeff;
      span {
        display: inline-block;
        background: #18c6ff;
        color: #ffffff;
        padding: 2px 5px 2px 20px;
        font-size: 18px;
        border-radius: 20px 0 20px 0;
        width: 130px;
        //transform: skewX(-20deg);
        margin-right: 8px;
        span {
          //transform: skewX(20deg);
        }
      }
    }
    &__trailer {
      p {
        background: #ffd406;
        border: none;
        text-align: center;
        border-radius: 20px 0 20px 0;
      }
    }
  }
}
.films {
  .film-item {
    border-left: 5px solid #ffd406;
    border-top: 1px solid #ffd406;
    border-right: 1px solid #ffd406;
    border-bottom: 1px solid #ffd406;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    img {
      margin-top: 10px;
    }
    a {
      color: #1a1a1a;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
