/*Mixins*/
@mixin full-height {
  height: 100%;
  min-height: 100%;
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}
@mixin header-font ($weight: normal) {
  font-family: $font-header;
  font-weight: $weight;
}
@mixin paragraph-font ($weight: normal) {
  font-family: $font-paragraph;
  font-weight: $weight;
}
@mixin paragraph-font2 ($weight: normal) {
  font-family: $font-paragraph2;
  font-weight: $weight;
}
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
@mixin filter($filter-type, $filter-amount) {
  -webkit-filter: $filter-type+unquote( '(#{$filter-amount})');
  -moz-filter: $filter-type+unquote( '(#{$filter-amount})');
  -ms-filter: $filter-type+unquote( '(#{$filter-amount})');
  -o-filter: $filter-type+unquote( '(#{$filter-amount})');
  filter: $filter-type+unquote( '(#{$filter-amount})');
}

@mixin blur($px: 0) {
  -webkit-filter: blur(#{$px}px) !important;
  -ms-filter: blur(#{$px}px) !important;
  -moz-filter: blur(#{$px}px) !important;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'#{$px}\' /></filter></svg>#blur");
}

$breakpoints: ("phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

$breakpoints-bs: ("xxs": 320px, "xs": 575px, "sm": 767px, "md": 991px, "lg": 1199, "xl": 1200px, 'xxl': 1920);
@mixin bs-mq($width, $type: max) {
  @if map_has_key($breakpoints-bs, $width) {
    $width: map_get($breakpoints-bs, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

$breakpoints-eq: ("xxs": 320px, "xs": 576px, "sm": 768px, "md": 992px, "lg": 1200, "xl": 1800px);
@mixin eq-mq($width, $type: min) {
  @if map_has_key($breakpoints-bs, $width) {
    $width: map_get($breakpoints-bs, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin gradient($pos, $from, $to) {
  //background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: linear-gradient(to $pos, $from 0%, $to 100%);
  background-image: -webkit-linear-gradient(to $pos, $from 0%, $to 100%);
  background: -moz-linear-gradient(to $pos, $from 0%, $to 100%);
  background: -o-linear-gradient(to $pos, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin text-shadow($color:rgb(3, 3, 3)) {
  text-shadow: $color 4px 4px 4px;
}

@mixin box-shadow($color:rgba(0,0,0,0.5)) {
  box-shadow: 2px 4px 34px 3px $color;
}

// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

/*End Mixins*/
