/*** ESSENTIAL STYLES ***/
#navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;
  font-size: 18px;
  font-family: "Raleway";
  .sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      position: relative;
    }
    ul {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      z-index: 99;
    }
    > li {
      float: left;
    }
    li {
      &:hover > ul, &.sfHover > ul {
        display: block;
      }
    }
    a {
      display: block;
      position: relative;
    }
    ul {
      ul {
        top: 0;
        left: 100%;
      }
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
      min-width: 12em;
      /* allow long menu items to determine submenu width */
      *width: 12em;
      /* no auto sub width for IE7, see white-space comment below */
    }
    float: left;
    margin-bottom: 1em;
    a {
      padding: .75em 1em;
      text-decoration: none;
      zoom: 1;
      /* IE7 */
      color: #13a;
    }
    li {
      //background: #BDD2FF;
      white-space: nowrap;
      /* no need for Supersubs plugin */
      *white-space: normal;
      /* ...unless you support IE7 (let it wrap) */
      -webkit-transition: background .2s;
      transition: background .2s;
    }
    ul {
      li {
        background: #AABDE6;
      }
      ul li {
        background: #9AAEDB;
      }
    }
    li {
      &:hover, &.sfHover {
        background: #CFDEFF;
        /* only transition out, not in */
        -webkit-transition: none;
        transition: none;
      }
    }
  }

  /*** DEMO SKIN ***/

  /*** arrows (for all except IE7) **/

  .sf-arrows {
    .sf-with-ul {
      padding-right: 2.5em;
      *padding-right: 1em;
      /* no CSS arrows for IE7 (lack pseudo-elements) */
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1em;
        margin-top: -3px;
        height: 0;
        width: 0;
        /* order of following 3 rules important for fallbacks to work */
        border: 5px solid transparent;
        border-top-color: #dFeEFF;
        /* edit this to suit design (no rgba in IE8) */
        border-top-color: rgba(255, 255, 255, 0.5);
      }
    }
    > {
      li {
        > .sf-with-ul:focus:after, &:hover > .sf-with-ul:after {
          border-top-color: white;
          /* IE8 fallback colour */
        }
      }
      .sfHover > .sf-with-ul:after {
        border-top-color: white;
        /* IE8 fallback colour */
      }
    }
    ul {
      .sf-with-ul:after {
        margin-top: -5px;
        margin-right: -3px;
        border-color: transparent;
        border-left-color: #dFeEFF;
        /* edit this to suit design (no rgba in IE8) */
        border-left-color: rgba(255, 255, 255, 0.5);
      }
      li {
        > .sf-with-ul:focus:after, &:hover > .sf-with-ul:after {
          border-left-color: white;
        }
      }
      .sfHover > .sf-with-ul:after {
        border-left-color: white;
      }
    }
  }

  /* styling for both css and generated arrows */

  /* styling for right-facing arrows */
}