<template>
    <div class="uk-section">
        <div class="uk-container uk-container-small uk-margin-bottom">
            <a href="" class="uk-icon-button uk-button-secondary uk-float-right"
               uk-icon="icon: plus" @click.prevent="openModal(false)"></a>
        </div>
        <div class="uk-container uk-container-small">
            <div class="uk-position-center" v-if="spinner" uk-spinner></div>
            <ul class="uk-list uk-list-large uk-list-divider uk-padding" id="sortable" ref="sortable"
                uk-sortable>
                <li v-for="(locale, key) in locales" :key="key" :id="locale.id">
                    {{locale.name}}
                    <div class="uk-display-inline-block uk-float-right">
                        <a href=""
                           :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': locale.status, 'uk-button-danger': !locale.status, 'uk-icon-small':true}"
                           @click.prevent="setStatus(locale)">
                            <i class="dj-power-off"></i>
                        </a>
                        <a href="" class="uk-icon-button uk-button-primary" uk-icon="icon: pencil"
                           @click.prevent="openModal(locale)"></a>
                        <a href="" class="uk-icon-button uk-button-danger" uk-icon="icon: trash"
                           @click.prevent="deleteLocale(locale)"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div ref="localemodal" id="modal-sections" uk-modal>
            <div class="uk-modal-dialog">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <input type="text" class="uk-input" v-model="locale.name" placeholder="Name  ex: Azerbaijan">
                    </div>
                    <div class="uk-margin">
                        <input type="text" class="uk-input" v-model="locale.slug" placeholder="Slug  ex: az">
                    </div>
                    <div class="uk-margin">
                        <input type="text" class="uk-input" v-model="locale.code" placeholder="Code ex: az-AZ">
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button" @click="addLocale">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Locales',
        props: ['db'],
        data () {
            return {
                locales: null,
                order: {},
                locale: {
                    name: null,
                    slug: null,
                    code: null,
                },
                mode: 'new',
                spinner: false
            }
        },
        created () {
            const inst = this;
            this.locales = JSON.parse(this.db);

        },
        mounted () {
            UIkit.sortable(this.$refs.sortable);
            $(this.$refs.sortable).on('change', (ev, el) => {
                this.spinner = true;
                this.sorted();
            })
            $(this.$refs.localemodal).on('hidden', () => {
                this.locale = {
                    name: null,
                    slug: null,
                    code: null,
                };
                this.mode = 'new';
            });
        },
        methods: {
            sorted () {
                $(this.$refs.sortable).children('li').each((e, el) => {
                    const elem = $(el);
                    this.order[elem.attr('id')] = elem.index();
                }).promise().done(() => {
                    axios.post('/admin/locale/sort', this.order).then(r => {
                        console.log(r);
                        this.spinner = false;
                    }).catch(e => {
                        this.spinner = false;
                    })
                });
            },
            openModal (locale) {
                if (locale) {
                    this.locale = locale;
                    this.mode = 'old';
                }
                UIkit.modal(this.$refs.localemodal).show();
            },
            addLocale () {
                this.spinner = true;
                if (this.mode == 'new') {
                    axios.post('/admin/locale', this.locale).then(r => {
                        this.locales = r.data.locales;
                        this.spinner = false;
                    }).catch(e => {
                        this.spinner = false;
                    });
                }
                else if (this.mode == 'old') {
                    axios.put('/admin/locale/' + this.locale.id, this.locale).then(r => {
                        this.locales = r.data.locales;
                        this.spinner = false;
                    }).catch(e => {
                        this.spinner = false;
                    })
                }

                UIkit.modal(this.$refs.localemodal).hide();
            },
            deleteLocale (locale) {
                UIkit.modal.confirm('Are you sure?').then(() => {
                    axios.delete('/admin/locale/' + locale.id).then(r => {
                        this.spinner = false;
                        const elem = $('#' + locale.id);
                        elem.addClass("uk-animation-slide-left uk-animation-slide-right uk-animation-reverse");
                        setTimeout(() => {
                            elem.remove();
                        }, 500);
                    }).catch(e => {
                        this.spinner = false;
                    })
                }, () => {
                });
            },
            setStatus (locale) {
                this.spinner = true;
                axios.get('/admin/locale/setstatus/' + locale.id).then(r => {
                    locale.status = !locale.status;
                    this.spinner = false;
                })
            },
        }
    }
</script>
<style lang="scss" type="text/scss" scoped>
    .uk-custom-icon {
        i {
            margin-left:4px;
        }
    }
</style>