// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

@import "icons";
// Variables
@import "variables";
//Helpers
@import "helpers";
//mixins
@import "mixins";
//colors
@import "colors";
////Toolbar
//@import "../../plugins/toolbar/jquery.toolbar.css";
//Uikit
@import "~uikit/dist/css/uikit";

body {
  background-color: $brand-2
}

.wrapper {
  padding-top: 10px;
}

.uk-button-success {
  background: #87c61c;
  color: #FFFFFF;
  &:hover {
    background: #95d71c;
    color: #FFFFFF;
  }
}
.uk-button-warning {
  background: #e8c30e;
  color: #FFFFFF;
  &:hover {
    background: #f5cf0e;
    color: #FFFFFF;
  }
}

.uk-custom-icon {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  i {
    display: block;
    height: 20px;
  }
}