@charset "UTF-8";

@font-face {
  font-family: "dj-icons";
  src:url("../fonts/icon/dj-icons.eot");
  src:url("../fonts/icon/dj-icons.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icon/dj-icons.woff") format("woff"),
  url("../fonts/icon/dj-icons.ttf") format("truetype"),
  url("../fonts/icon/dj-icons.svg#dj-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dj-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dj-"]:before,
[class*=" dj-"]:before {
  font-family: "dj-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dj-picture-o:before {
  content: "\e000";
}
.dj-picture-streamline-1:before {
  content: "\e001";
}
.dj-video-camera:before {
  content: "\e002";
}
.dj-set:before {
  content: "\e003";
}
.dj-character:before {
  content: "\e004";
}
.dj-align-right:before {
  content: "\e005";
}
.dj-align-left:before {
  content: "\e006";
}
.dj-align-justify:before {
  content: "\e007";
}
.dj-align-center:before {
  content: "\e008";
}
.dj-link:before {
  content: "\e009";
}
.dj-horizontal-rule:before {
  content: "\e00a";
}
.dj-caret-down:before {
  content: "\e00b";
}
.dj-caret-right:before {
  content: "\e00c";
}
.dj-caret-up:before {
  content: "\e00d";
}
.dj-caret-left:before {
  content: "\e00e";
}
.dj-bullseye:before {
  content: "\e00f";
}
.dj-cog:before {
  content: "\e010";
}
.dj-expand:before {
  content: "\e011";
}
.dj-check:before {
  content: "\e012";
}
.dj-trash:before {
  content: "\e014";
}
.dj-pencil:before {
  content: "\e013";
}
.dj-eye:before {
  content: "\e015";
}
.dj-power-off:before {
  content: "\e016";
}
.dj-fire:before {
  content: "\e017";
}
.dj-user:before {
  content: "\e018";
}
.dj-bold:before {
  content: "\e019";
}
.dj-italic:before {
  content: "\e01a";
}
.dj-underline:before {
  content: "\e01b";
}
.dj-anchor:before {
  content: "\e01c";
}
.dj-handle-streamline-vector:before {
  content: "\e01d";
}
.dj-indent:before {
  content: "\e01e";
}
.dj-outdent:before {
  content: "\e01f";
}
.dj-ban:before {
  content: "\e020";
}
.dj-list-ol:before {
  content: "\e021";
}
.dj-list-ul:before {
  content: "\e022";
}
.dj-quote-left:before {
  content: "\e023";
}
.dj-paperclip:before {
  content: "\e024";
}
.dj-eyedropper:before {
  content: "\e025";
}
.dj-facebook-official:before {
  content: "\e026";
}
.dj-popup:before {
  content: "\e027";
}
