<template>
    <div>
        <div class="uk-flex">
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 1">Monday</a>
            </div>
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 2">Thuesday</a>
            </div>
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 3">Wednesday</a>
            </div>
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 4">Thursday</a>
            </div>
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 5">Friday</a>
            </div>
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 6">Saturday</a>
            </div>
            <div>
                <a href="" class="uk-button uk-button-primary" @click.prevent="day = 7">Sunday</a>
            </div>
        </div>
        <div class="uk-margin uk-padding">
            <ul class="uk-list uk-list-striped">
                <li v-for="(event,key) in oneday" :key="key">
                    <a href="#" >{{event.name}}</a>
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Events',
        props: {
            data: {
                default: null
            }
        },
        data() {
            return {
                events: {},
                day: 1,
            }
        },
        computed: {
            oneday() {
                return this.events.filter((value) => {
                    return value.day === this.day;
                })
            }
        },
        created() {
            this.events = JSON.parse(this.data);
        },
        methods: {}
    }
</script>

<style type="text/css" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0
    }
</style>