<template>
    <div>
        <div class="uk-container uk-container-small uk-margin-bottom">
            <a href="#" class="uk-icon-button uk-button-primary uk-float-right" uk-icon="icon: check"
               @click.prevent="saveSort" v-if="saveBtn"></a>
        </div>

        <div class="uk-overlay uk-position-center" v-if="loading">
            <div uk-spinner></div>
        </div>

        <ul class="uk-list" ref="sortable" id="sortable-list">
            <tree-item :model="page" v-for="page in allpages" :key="page.id"></tree-item>
        </ul>
    </div>
</template>

<script type="text/babel">
    import TreeItem from './TreeItem.vue'
    import '../../scripts/jquery-sortable-lists.min'
    export default {
        name: 'Tree',
        components: {TreeItem},
        props: ['pages'],
        data () {
            return {
                allpages: null,
                saveBtn: false,
                loading: false
            }
        },
        created () {
            this.allpages = this.pages;
            this.$bus.on('removePage', page => this.removePage(page));
        },
        beforeDestroy () {
            this.$bus.off('removePage');
        },
        mounted () {
            this.initSortable();
        },
        methods: {
            initSortable () {
                const inst = this;
                const options = {
                    insertZonePlus: true,
                    insertZone: 50,
                    scroll: 20,
                    listSelector: 'ul',
                    listsClass: 'list-item',
                    currElClass: 'list-cur-el',
                    placeholderClass: 'list-placeholder',
                    hintClass: 'list-hint',
                    ignoreClass: 'ignorebtn',
                    opener: {
                        active: true,
                        as: 'html',
                        close: '<span uk-icon="icon: minus"></span>',
                        open: '<span uk-icon="icon: plus"></span>',
                        openerClass: 'list-opener'
                    },
                    onChange () {
                        inst.saveBtn = true
                    }
                };
                $(this.$refs.sortable).sortableLists(options);
                $('#sortableListsBase').addClass("uk-list uk-list-striped uk-list-large");
            },
            saveSort () {
                this.loading = true;
                const result = $(this.$refs.sortable).sortableListsToArray();
                axios.post('/admin/pages/sort', result).then(r => {
                    this.loading = false;
                    this.saveBtn = false;
                })
            },
            removePage (page) {
                const inst = this;
                UIkit.modal.confirm('Are you sure?').then(() => {
                    axios.delete('/admin/pages/' + page.id).then(r => {
                        const elem = $('#' + page.id);
                        elem.addClass("uk-animation-slide-left uk-animation-slide-right uk-animation-reverse");
                        setTimeout(() => {
                            elem.remove();
                        }, 500);
                    })
                }, () => {});
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
    #sortable-list, #sortableListsBase {
        * {
            list-style: none;
        }
        li {
            cursor: ns-resize;
            border: 1px solid #ccc;
            margin-top: 2px;
            padding: 10px;
            .list-data {
                padding: 10px;
                min-height: 32px;
            }
        }
        .actions {
            display: block;
            float: right;
            cursor: pointer;
            height: 100%;
            text-align: right;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .list-cur-el {
            background-color: #FFCD95;
            color: #fff;
        }
        .list-placeholder {
            background-color: #E2E4E7;
        }
        .list-hint {
            background-color: #FF5756;
            border: 1px dashed #BCBEC2;
        }
        .list-opener {
            display: inline-block;
            float: left;
            width: 18px;
            height: 18px;
            margin-right: 5px;
            color: #45ABB2;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
</style>