<template>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <a href="" class="uk-link-reset uk-h3 uk-button-text"><span uk-icon="icon: album;"></span> Popup</a>
            <a href=""
               :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': popup.status, 'uk-button-danger': !popup.status, 'uk-icon-small':true}"
               @click.prevent="setStatus">
                <i class="dj-power-off"></i>
            </a>
            <a href="" class="uk-icon-button uk-button-primary" uk-icon="icon:pencil"
               uk-toggle="target: #popupmodal"></a>
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
        </div>


        <!-- This is the modal -->

        <div id="popupmodal" ref="popupmodal" uk-modal="bg-close: false;">
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Popup setting</h2>
                </div>
                <div class="uk-modal-body">
                    <div uk-spinner class="uk-position-center" v-if="spinner"></div>
                    <div class="uk-margin">
                        <v-select
                                :debounce="500"
                                :on-search="getOptions"
                                :options="options"
                                placeholder="Search"
                                label="name"
                                :value.sync="selected"
                                :on-change="addSelected"
                        >
                        </v-select>
                    </div>
                    <div class="uk-margin" v-if="Object.keys(items).length > 0">
                        <draggable :list="items">
                            <p v-for="(item, key) in items" :id='item.id' :key="key">
                                {{item.name}}
                                <span class="uk-icon-button uk-button-danger uk-float-right" uk-icon="icon:trash"
                                      @click.prevent="removeItem(item)"></span>
                            </p>
                        </draggable>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button" @click.prevent="savePopup">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import vSelect from "vue-select"
    import draggable from 'vuedraggable'
    export default {
        name: 'PopupSetting',
        props: ['settings'],
        components: {vSelect,draggable},
        data() {
            return {
                popup: {},
                spinner: false,
                options: [],
                selected: null,
                items: [],
            }
        },
        created() {
            this.popup = JSON.parse(this.settings);
            this.items = JSON.parse(this.settings).items;
        },
        mounted() {
            $(this.$refs.popupmodal).on('hidden', () => {
                this.selected = null
            });
        },
        methods: {
            addSelected(value) {
                if (value !== '' && value !== null) {
                    this.items.push(value);
                }
                this.selected = null
            },
            setStatus() {
                this.spinner = true;
                axios.get('/admin/settings/setstatus/popup').then(r => {
                    this.popup.status = !this.popup.status;
                    this.spinner = false;
                }).catch(e => {
                    this.spinner = false;
                })
            },
            getOptions(search, loading) {
                loading(true);
                axios.post('/admin/articles/searchparent', {
                    searchfield: search,
                }).then(r => {
                    this.options = r.data.articles;
                    loading(false)
                })
            },
            removeItem(item) {
                const index = this.items.indexOf(item);
                this.items.splice(index, 1);
            },
            savePopup() {
                this.spinner = true;
                axios.put('/admin/settings/popup', this.items).then(r => {
                    this.spinner = false;
                    UIkit.modal(this.$refs.popupmodal).hide();
                }).catch(e => {
                    this.spinner = false;
                    UIkit.modal(this.$refs.popupmodal).hide();
                })
            },
            sorted() {
                $(this.$refs.sortable).children('li').each((e, el) => {
                    const elem = $(el);
                    let item = {
                        id: elem.attr('id'),
                        name: elem.text(),
                    }
                    this.items[elem.index()] = item;
                })
            },
        }
    }
</script>