
// MIXINS
//===================================

// Transition
@mixin transition($args...) {
	-webkit-transition: $args;
	transition: $args;
}

// Transform
@mixin transform($args...) {
	-webkit-transform: $args;
	-ms-transform: $args;
	transform: $args;
}

@mixin my-bg {
	background-color: #FFE53B;
	background-image: linear-gradient(90deg, #FFE53B 0%, #FF2525 100%);

}

@mixin shadow {
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.30);
}