/* CORE STYLES */

// NAVIGATION
//===================================
.navigation {
  width: 100%;
  height: 70px;
  display: table;
  position: relative;
  font-family: inherit;
  //background-color: $navbar-background-color;
  //@include my-bg;
  //@include shadow;
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

.navigation-portrait {
  height: 48px;
}

// Fixed navigation
.navigation-fixed-wrapper {
  width: 100%;
  left: 0;
  z-index: 19998;
  will-change: opacity;

  &.fixed {
    position: fixed !important;
    -webkit-animation: fade .50s;
    animation: fade .50s;
  }

  @keyframes fade {
    from {
      opacity: 0.999;
    }
    to {
      opacity: 1;
    }
  }

  .navigation {
    margin-right: auto;
    margin-left: auto;
  }
}

.navigation-fixed-placeholder {
  width: 100%;
  display: none;

  &.navigation-fixed-placeholder.visible {
    display: block;
  }
}

// Hidden navigation
.navigation-hidden {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: -9999px;
}

// RIGHT ALIGMENT FOR ELEMENTS
//===================================
.align-to-right {
  float: right;
}

// NAVIGATION HEADER
//===================================
.nav-header {
  float: left;

  .navigation-hidden & {
    display: none;
  }
}

// BRAND TEXT
//===================================
.nav-brand {
  line-height: 70px;
  padding: 0 15px;
  color: $brand-font-color;
  font-size: 24px;
  text-decoration: none !important;

  &:hover,
  &:focus {
    color: $brand-font-color;
  }

  .navigation-portrait & {
    font-size: 18px;
    line-height: 48px;
  }
}

// IMAGE LOGO
//===================================
.nav-logo {
  > img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left;
  }

  &:focus > img {
    outline: initial;
  }

  .navigation-portrait & > img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0;
  }
}

// TOGGLE BUTTON
//===================================
.nav-toggle {
  width: 30px;
  height: 30px;
  padding: 6px 2px 0;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 15px;
  display: none;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $toggle-icon-color;
    border-radius: 10px;
    box-shadow: 0 0.50em 0 0 $toggle-icon-color, 0 1em 0 0 $toggle-icon-color;
  }

  .navigation-portrait & {
    display: block;
  }
}

// NAVIGATION MENUS WRAPPER (OFFCANVAS PANEL ON MOBILE)
//=====================================================
.navigation-portrait .nav-menus-wrapper {
  width: 320px;
  height: 100%;
  top: 0;
  left: -400px;
  position: fixed;
  //background-color: $offcanvas-background-color;
  @include my-bg;

  z-index: 20000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;

  &.nav-menus-wrapper-right {
    left: auto;
    right: -400px;
  }
  &.nav-menus-wrapper-open {
    left: 0;
  }
  &.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0;
  }
}

// Close button for Offcanvas
.nav-menus-wrapper-close-button {
  width: 30px;
  height: 40px;
  margin: 10px 7px;
  display: none;
  float: right;
  color: $offcanvas-close-icon-color;
  font-size: 26px;
  cursor: pointer;

  .navigation-portrait & {
    display: block;
  }
}

// MENUS (FIRST LEVEL)
//===================================
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
  font-size: 0;

  .navigation-portrait & {
    width: 100%;
  }

  // Centered menu
  &.nav-menu-centered {
    text-align: center;
  }
  // Menu items in centered menus
  &.nav-menu-centered > li {
    float: none;
  }

  // Menu itens
  > li {
    display: inline-block;
    float: left;
    text-align: left;

    .navigation-portrait & {
      width: 100%;
      position: relative;
      border-top: solid 1px $border-color;
    }
    .navigation-portrait &:last-child {
      border-bottom: solid 1px $border-color;
    }
    .nav-menu + &:first-child {
      border-top: none;
    }

    // Menu links
    > a {
      height: 70px;
      padding: 26px 15px;
      display: inline-block;
      position: relative;
      text-decoration: none;
      font-size: 14px;
      color: $menu-item-font-color;
      @include transition(color .3s, background .3s);

      .navigation-portrait & {
        width: 100%;
        height: auto;
        padding: 12px 15px 12px 26px;
      }
    }
    &:hover > a,
    &.active > a,
    &.focus > a {
      color: $menu-item-font-color-hover;
    }

    // Menu item with icons and text
    > a > i,
    > a > [class*="ion-"] {
      width: 18px;
      height: 16px;
      line-height: 16px;
      @include transform(scale(1.4));
    }
    > a > [class*="ion-"] {
      width: 16px;
      display: inline-block;
      @include transform(scale(1.8));
    }
  }

  // Menu item with social icons
  .navigation-portrait &.nav-menu-social {
    width: 100%;
    text-align: center;
  }
  &.nav-menu-social {
    > li {
      text-align: center;
      float: none;
      border: none !important;

      .navigation-portrait & {
        width: auto;
      }

      > a > [class*="ion-"] {
        font-size: 12px;
      }
      > a > .fa {
        font-size: 14px;
      }
      .navigation-portrait & > a {
        padding: 15px;
      }
    }
  }

}

// SUBMENU INDICATORS
//===================================
.submenu-indicator {
  margin-left: 6px;
  margin-top: 6px;
  float: right;
  @include transition(all .3s);

  .navigation-portrait & {
    width: 54px;
    height: 44px;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 20000;
  }
}

// Chevron icon
.submenu-indicator-chevron {
  height: 6px;
  width: 6px;
  display: block;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: transparent $menu-item-font-color $menu-item-font-color transparent;
  @include transform(rotate(45deg));
  @include transition(border .3s);

  .navigation-portrait & {
    position: absolute;
    top: 18px;
    left: 24px;
  }

  .nav-menu > li:hover > a &,
  .nav-menu > .active > a &,
  .nav-menu > .focus > a & {
    border-color: transparent $menu-item-font-color-hover $menu-item-font-color-hover transparent;
  }
}

// Indicator to up
.navigation-portrait .submenu-indicator.submenu-indicator-up {
  @include transform(rotate(-180deg));
}

// OVERLAY PANEL
//===================================
.nav-overlay-panel {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 19999;
}

// Prevent scrolling on body
.no-scroll {
  touch-action: none;
  overflow-x: hidden;
}
