<template>
    <button class="uk-button uk-button-secondary" @click.prevent="open">Click to open Mediamanager</button>
</template>
<script type="text/babel">
    export default {
        mounted() {
          this.open()
        },
        methods: {
            open() {
                moxman.browse({view: 'thumbs'});
            }
        }
    }
</script>