<template>
    <div class="main-slider">
        <slot></slot>
    </div>
</template>

<script type="text/babel">
    import bxSlider from 'bxslider'

    export default {
        name: 'BxSlider',
        mounted() {
            window.bxSliderInst = $('.main-slider').bxSlider({
//                ticker:true,
                adaptiveHeight:true,
                pager:false,
                minSlides:2
            });
            $(".bx-imgLiquid").imgLiquid()
        }
    }
</script>

<style type="text/css">
    @import "~bxslider/dist/jquery.bxslider.css";
</style>