<link rel="stylesheet" href="../../../../../../../../../Users/eka/Desktop/plyr-master/src/scss/variables.scss">
<template>
        <div :data-type="type" :data-video-id="video" :class="className" @mouseover="mouseOver"></div>
</template>
<script type="text/babel">
    import plyr from "plyr/dist/plyr";
    export default {
        name: 'Plyrjs',
        props: {
            type: {
                default: 'youtube'
            },
            video: {
                default: ''
            },
            playonhover: {
                default: false
            },
            identification: {
                default: false
            },
            options: {
                default:{}
            }
        },
        data () {
            return {
                inst: null,
                className: this.identification ? this.identification : this.video
            }
        },
        mounted () {
            this.inst = plyr.setup('.' + this.className, this.options)
        },
        methods: {
            mouseOver () {
                if (this.playonhover) {
                    this.inst[0].play()
                }
            },
            mouseLeave () {
                if (this.playonhover) {
                    this.inst[0].pause()
                }
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
    @import "../../../sass/_variables";
    @import "../../../sass/mixins";
    $plyr-color-main: $orange;
    @import "~plyr/src/scss/plyr";

    .plyr__controls {
        visibility: hidden;
    }
    .plyr--playing {
        .plyr__controls {
            visibility: visible;
        }
    }
</style>
