<template>
    <div>
        <div class="uk-margin-bottom">
            <button class="uk-button uk-button-primary uk-width-1-1" @click.prevent="browse">Browse Images</button>
        </div>
        <div>
            <draggable v-model="images">
                <div class="uk-animation-fade uk-width-1-4@m galleryImgItem" v-for="(image,key) in images"
                     :key="key" :ref="'image' + key">
                    <div class="galleryImgItemBlock">
                        <div class="galleryImg">
                            <img :src="'/uploads' + image.path">
                        </div>
                        <div class="galleryImgActions uk-padding-small">
                            <ul class="uk-iconnav">
                                <li><a href="#" class="uk-text-primary" @click.prevent="showDescPanel(key)"
                                       uk-icon="icon: file-edit"></a></li>
                                <li><a href="#" class="uk-text-danger" @click.prevent="deleteImage(key)"
                                       uk-icon="icon: trash"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </draggable>
        </div>
        <div ref="showDesc" uk-modal>
            <div class="uk-modal-dialog">
                <div class="uk-modal-body">
                    <textarea cols="30" rows="5" class="uk-textarea uk-form-large" v-if="showDesc !== false"
                              placeholder="Image description" v-model="images[showDesc].title"></textarea>
                </div>
                <div class="uk-modal-footer">
                    <button class="uk-button uk-button-primary uk-float-right" type="button"
                            @click.prevent="saveImageDesc()">Save & Close
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" name="images" v-if="images" :value="JSON.stringify(images)">
    </div>
</template>

<script type="text/babel">
    import draggable from 'vuedraggable'

    export default {
        name: 'GalleryImages',
        components: {draggable},
        props: {
            current: {
                default: null
            }
        },
        data() {
            return {
                images: [],
                showDesc: false,
            }
        },
        created() {
            if (this.current !== null) {
                this.images = JSON.parse(this.current);
            }
        },
        methods: {
            browse() {
                const inst = this;
                moxman.browse({
                    view: 'thumbs',
                    oninsert(args) {
                        for (let i = 0, len = args.files.length; i < len; i++) {
                            inst.images.push({path: args.files[i].path, title: ''})
                        }
                    }
                });
            },
            deleteImage(key) {
                this.images.splice(key, 1);
            },
            showDescPanel(key) {
                this.showDesc = key;
                UIkit.modal(this.$refs.showDesc).show();
            },
            saveImageDesc() {
                UIkit.modal(this.$refs.showDesc).hide();
                this.showDesc = false;
            }
        }
    }
</script>

<style type="text/scss" lang="scss">
    .galleryImgItem {
        display: inline-block;
        padding: 2px 5px;
        .galleryImgItemBlock {
            border: 1px solid #18c6ff;
            .galleryImg {
                overflow: hidden;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .imageInfo {
        background: #1B98E0;
        padding: 20px;
        position: absolute;
        z-index: 3;
        top: 0%;
    }
</style>