<template>
    <div class="zoomvideoplayer auto-init">
    </div>
</template>
<script type="text/babel">
    import zoomplayer from '../../../plugins/zoomplayer/zoomplayer'
    import '../../../plugins/zoomplayer/skins'
    export default {
        name:'ZoomPlayer'
    }
</script>
<style type="text/scss" lang="scss">
    @import "../../../plugins/zoomplayer/zoomplayer";
    @import "../../../plugins/zoomplayer/skins.css";
</style>