@import "../texthovereffects/_effects";
@import "../_variables";
@import "../mixins";
.navBlock {
  @include gradient($pos: right, $from: $brand-1, $to: $brand-2);
}
#navigation {
  display: flex;
  justify-content: center;
  min-height: 30px;
  .sm-simple {
    justify-content: center;
    ul {
      @include gradient($pos: right, $from: $brand-1, $to: $brand-2);
    }
    li {
      border: none !important;
    }
    a {
      text-transform: uppercase;
      color: $brand-5;
      @include transition-opt($transition-color: $brand-3, $display: block);
      @include fill-opening-horizontal;
      padding:11px 20px;
      &:hover {
        color: #FFFFFF !important;
      }
      &.has-submenu{
        &:after {
          content: "+";
          float: right;
          padding-left: 5px;
          height: 0 !important;
          transition: all 10s;
        }
        &.highlighted {
          &:after {
            height: 0 !important;
            content: "-";
            float: right;
            padding-left: 5px;
          }
        }
      }
      &.active {
        background: $brand-3;
      }
    }
  }
  .main-menu-btn {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    text-indent: 28px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* hamburger icon */

  .main-menu-btn-icon {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #bbb;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 2px;
      height: 2px;
      width: 24px;
      background: #bbb;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }
    &:before {
      content: '';
      top: -7px;
      left: 0;
    }
    &:after {
      content: '';
      top: 7px;
      left: 0;
    }
  }

  /* x icon */

  #main-menu-state {
    &:checked ~ .main-menu-btn .main-menu-btn-icon {
      height: 0;
      background: transparent;
      &:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:after {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    &:not(:checked) ~ #main-menu {
      display: none;
    }
    &:checked ~ #main-menu {
      display: block;
    }
  }

  /* hide menu state checkbox (keep it visible to screen readers) */

  /* hide the menu in mobile view */

  @media (min-width: 768px) {
    /* hide the button in desktop view */
    .main-menu-btn {
      position: absolute;
      top: -99999px;
    }
    /* always show the menu in desktop view */
    #main-menu-state:not(:checked) ~ #main-menu {
      display: block;
    }
  }
}